:root {
    --primary-color: #025e02;
    --secondary-color: #0321b5;
    --accent1-color: #000000;
    --accent2-color: #03343f;
    --heading-font: "Georgia";
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    text-align: center;
    color: var(--secondary-color);
}

footer img {
    width: 50px;
    height: auto;
}

h2 {
    padding: 10px;
}

.hero article {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    bottom: 0;
    color: var(--accent2-color);
}