:root {
    --border: 1px solid;
    --text-align: center;
    --img-height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--img-height);
    border: var(--border) steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border) rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--img-height);
}

footer {
    margin-top: 15px;
    border-top: var(--border) #000;
    text-align: var(--text-align);
}