* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid;
    --text-align: center;
    --img-height: auto;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: var(--border) #222;
}

main img {
    width: 150px;
    height: var(--img-height);
    border: var(--border) steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 100%;
    height: var(--img-height);
    display: block;
}

aside h2 {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

footer {
    margin-top: 15px;
    border-top: var(--border) #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border) rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}