* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid;
    --text-align: center;
    --img-height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--img-height);
    border: var(--border) steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 100%;
    height: var(--img-height);
    display: block;
}

aside h2 {
    position: absolute;
    top: 3rem;
    left: 50%x;
    transform: translateX(-50%);
    color: white;
}

footer {
    margin-top: 15px;
    border-top: var(--border) #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border) rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}