* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #333;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: .025rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10px;

}

section {
    margin: 2em 0;
    background-color: #ddd;
    padding: 10px;
    font-size: .9rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
}

section p {
    margin: 10px;
}

h2 {
    border-bottom: 1px solid #222;
}

ul {
    margin: 10px 20px;
}

footer {
    background-color: #333;
    padding: 0.25rem;
    text-align: center;
    color: #fff;
    font-size: .9rem;
}