* {
    box-sizing: border-box;
}

img {
    width: 410px;
    height: auto;
    box-shadow: 0px 0px 40px #302f2f;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: .025rem;
    text-align: center;
    font-style: 1.5 Montserrat, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-family: arial;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: arial;
    font-weight: 700;
}

section {
    margin: 2em 0;
    background-color: #ddd;
    padding: 1.5rem;
    font-family: 'arial', Times, serif;
    font-size: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: solid #000 1px;
}

footer {
    background-color: #333;
    padding: 0.25rem;
    text-align: center;
    color: #fff;
    font-family: arial;
}